.square {
  width: 100px;
  height: 100px;
  background-color: black;
}
.rounded {
  border-radius: 50px;
}
.transition {
  transition: all 1s;
}
.triangle {
  border-right: 50px solid transparent;
  border-bottom: 86.6025px solid #b2ce54;
  border-left: 50px solid transparent;
}
